@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}

/* --proprieade customizadas */
:root {
  --primary-color: #8f0101;
  --secondary-color: #bb1515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*CSS RESET*/
body,
img,
h1,
p,
fieldset,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--titles-weight);
  color: var(--primary-color);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 25px;
  font-weight: var(--titles-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px auto;
}

@media screen AND (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
