header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-mobile {
  display: block;
}
.logo-desktop {
  display: none;
}

.navegation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  background-color: var(--background-tertiary-color);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navegation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navegation-menu label {
    display: none;
  }

  .navegation-menu nav {
    display: block;
  }
  .navegation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navegation-menu ul li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }

  .logo {
    width: 260px;
    height: 64px;
  }
  .img-desktop {
    display: block;
  }
  .img-mobile {
    display: none;
  }

  .navegation-menu a:hover {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 1920px) {
  header {
    padding: 38px 120px;
  }
}
