/* --proprieade customizadas */
:root {
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --butoon-primary-color: #8f0101;
    --button-secondary-color: #BB1515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
}

/*CSS RESET*/
body, img, h1, p, fieldset, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1{
    color: var(--text-primary-color);
}